/*
------------
RESETS
------------
*/

html {
  font-size: 13px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/*
------------
CONFIGS
------------
*/
:root {
  --bg-dark: #111418;
  --wolf-gray: #535F6B;
  --light-gray: #DDE1E6;
  --white: #FFFFFF;
  --danger: #E53935;
  --blue: #03396C;
  --fighter-blue: #1f4773;
  --fighter-red: #a3423b;
}


/* global */
body {
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
